<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artwork Inspire Me</title>
</head>
<body>

  <!-- Artwork title, artist, and image display -->
  <h1><%= title %></h1>
  <p>By: <%= artist %> (Created: <%= year %>)</p>
  <img src="<%= image %>" alt="<%= title %>" style="max-width: 500px;">

</body>
</html>