<% 
  const capitalizedKeyword = keyword.slice(0, 1).toUpperCase() + keyword.slice(1);
%>

<h1>Search Results</h1>

<p>Keyword: <%= capitalizedKeyword %></p>
<img src="<%= image %>" alt="Artwork from search" width="500px">
<p>Title: <%= title %></p>
<p>Artist: <%= artist %></p>

<form action="/searchByKeyword" method="GET">
    <input type="hidden" name="q" value="<%= capitalizedKeyword %>">
    <button type="submit"><h3>Search "<%= capitalizedKeyword %>" again</h3></button>
</form>